.checkoutProduct{
    display: flex;
    margin: 20px 0 20px 0;
}
.checkoutProduct_image{
    object-fit: contain;
    height: 150px;
    width: 150px;
}
.checkoutProduct_info{
    padding-left: 20px;
}
.checkoutProduct_info > button{
    border-radius: 8px;
    background: #FFD814;
    border: 1px solid #FCD200;
    font-size: 10px;
    line-height: 18px;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
    cursor: pointer;
}
.checkoutProduct_title{
    font-size: 18px;
    line-height: 27px;
    color: #0f1111;
    font-weight: 500;
}
.checkoutProduct__rating{
    display: flex;
}